{% extends 'account/base.html' %}

{% block content %}
<div class="dashboard-container">
    <div class="actions">
        <a class="action active" href="/dashboard">POSTS (1)</a>
        <a class="action " href="/dashboard/user_followers">Followers (0)</a>
        <a class="action " href="/dashboard/following_users">Following (0)</a>
    </div>

    {% for ul in ulangan %}
    <div class="single-article">
        <a href=""><h2>{{ ul.mata_pelajaran }}</h2></a>
        <div class="dashboard-actions">
            <a href="" class="cta pill yellow">{{ ul.guru }}</a>
            <a href="" class="cta pill green">{{ ul.kelas }}</a>
            <a href="" data-no-instant="" class="cta pill black">{{ ul.mata_pelajaran }}</a>
        </div>  
    </div>
    {% endfor %}
</div>
{% endblock content %}